{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet"
href="{% static 'css/accounts/change_password.css' %}">
{% endblock %}

{% block content %}

<div class="password-page">

    <div class="floating-shape shape1"></div>
    <div class="floating-shape shape2"></div>

    <div class="password-card">

        <div class="password-header">

            <div class="lock-icon">
                <i class="bi bi-shield-lock-fill"></i>
            </div>

            <h2>Change Password</h2>

            <p>
                Secure your account with a stronger password
            </p>

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>
                    <i class="bi bi-key-fill"></i>
                    Current Password
                </label>

                {{ form.old_password }}

            </div>

            <div class="form-group">

                <label>
                    <i class="bi bi-lock-fill"></i>
                    New Password
                </label>

                {{ form.new_password1 }}
                <br>
                <small class="text-muted">
                {{ form.new_password1.help_text|safe }}
                </small>

            </div>

            <div class="form-group">

                <label>
                    <i class="bi bi-shield-check"></i>
                    Confirm Password
                </label>

                {{ form.new_password2 }}

            </div>

            <button
                type="submit"
                class="save-btn">

                <i class="bi bi-check-circle-fill"></i>

                Update Password

            </button>

        </form>

    </div>


</div>

{% endblock %}
