body{
    background:
    #eef2ff;

    min-height:100vh;

}

.password-page{
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;

    position:relative;

    overflow:hidden;


}


.floating-shape{


    position:absolute;

    border-radius:50%;

    filter:blur(80px);

    opacity:.35;


}

.shape1{


    width:300px;
    height:300px;

    background:#8cb8ff;

    top:10%;
    left:5%;

    animation:float 8s ease infinite;


}

.shape2{


    width:250px;
    height:250px;

    background:#af94ec;

    bottom:10%;
    right:10%;

    animation:float 10s ease infinite;


}


.password-card{

    width:100%;

    max-width:650px;

    background:
    rgba(255, 255, 255, 0.25);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:30px;

    padding:45px;

    box-shadow:
    0 25px 60px rgba(0,0,0,.35);

    animation:slideUp .8s ease;

    position:relative;

    z-index:2;


}


.password-header{


    text-align:center;

    margin-bottom:35px;


}

.lock-icon{


    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;

    align-items:center;
    justify-content:center;

    font-size:2.5rem;

    color:white;

    background:
    linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
    );

    box-shadow:
    0 15px 35px rgba(99,102,241,.45);

    animation:pulse 2s infinite;


}

.password-header h2{


    margin-top:20px;

    color:rgb(31, 32, 35);

    font-size:2.3rem;

    font-weight:800;


}

.password-header p{


color:#283137;


}

.form-group{


margin-bottom:22px;


}

.form-group label{

    color:#1e293b;

    font-weight:600;

    margin-bottom:10px;

    display:block;


}

.form-group i{

margin-right:8px;


}

.form-group input{


    width:100%;

    height:60px;

    padding:0 18px;

    border:none;

    border-radius:15px;

    background:
    rgba(83, 77, 77, 0.25);


    transition:.4s;


}

.form-group input:focus{


    outline:none;

    transform:translateY(-3px);

    box-shadow:
    0 0 25px rgba(0, 0, 0, 0.4);

    background:
    rgba(163, 166, 168, 0.15);


}


.save-btn{


    width:100%;

    border:none;

    padding:16px;

    border-radius:50px;

    font-size:1.1rem;

    font-weight:700;

    color:white;

    background:
    linear-gradient(
    135deg,
    #185ae9,
    #651ce3
    );

    transition:.4s;

}

.save-btn:hover{


    transform:
    translateY(-5px)
    scale(1.02);

    box-shadow:
    0 20px 40px rgba(99,102,241,.25);


}


@keyframes slideUp{


    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes float{


    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-30px);
    }

}

@keyframes pulse{


    0%,100%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

}
@media(max-width:768px){

    .password-card{
        padding:25px;
    }

    .password-header h2{
        font-size:1.8rem;
    }

    .lock-icon{
        width:70px;
        height:70px;
        font-size:2rem;
    }

}
