.btn-danger{

    border-radius:12px;

    transition:.3s;
}

.btn-danger:hover{

    transform:
    translateY(-3px);

    box-shadow:
    0 10px 25px rgba(220,53,69,.3);
}

.cart-summary{

    background:white;

    border-radius:25px;

    padding:30px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.08);

    margin-top:40px;
}

.cart-summary h4{

    font-size:2rem;

    font-weight:700;

    color:#16a34a;
}